dash
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
gunicorn
lxml
numpy==1.23.5
pandas
plotly
scikit-learn
scipy
yfinance
torch
xgboost
matplotlib
statsmodels
pmdarima
-e .